*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #000;
}

h2{
    font-size: 6em;
    font-weight: 500;
    color: #222;
    letter-spacing: 5px;
    cursor: pointer;
}

h2 span{
    transition: 0.5s;
}
h2:hover span:nth-child(1){
    margin-right: 10px;
}
h2:hover span:nth-child(1):after{
    content: "'";
}
h2:hover span:nth-child(2){
    margin-left: 40px;
}
h2:hover span{
    color:  #026b7e;
    text-shadow: 0 0 10px #026b7e,
                 0 0 80px  #026b7e,
                 0 0 120px  #026b7e,
                 0 0 160px  #026b7e

}